#header-bg {
    background-color: #F78501
}

img {
    background-color: white;
}

ul li {
    cursor: pointer;
}

ul li.checked {
    background: #276678;
    color: #fff;
    text-decoration: line-through;
   
}

li:nth-child(odd) {
    background-color: #eee;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 16px;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
.close:hover{
    color: gray;
}
